*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.04em;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.intro {
    font-size: 1.5em;
    font-weight: 600;
}

.title {
    width: 100%;
    height: 10%;
    font-size: 2.5em;
    font-weight: 800;
}

.nav {
    width: 100%;
    height: 10%;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: left;
    background-color: rgb(253, 253, 197);
}

.tab {
    border-radius: 5%;
    padding: 20px;
    background-color: aliceblue;
    outline: none;
    border: none;
    box-shadow: 0 4px 8px 0 lightgray;
}

.flavor {
    list-style: circle;
}

.bottom {
    display: flex;
    flex: 0.5;
    gap: 8px;
}

img{
    height: 15em;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 lightgray;
}

.name {
    width: 100%;
    font-size: 1.05em;
}

.preview {
    width: 20%;
    height: fit-content;
    padding: 20px;
    justify-content: left;
}

.description {
    width: 50%;
    flex-wrap: wrap;
    justify-content: right;
}

.price {
    width: 100%;
}


